@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
h3 {
    font-style: italic;
    font-weight: bold !important;
    color:snow;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
#homeDesc {
    font-family: 'Roboto', sans-serif;
    color: snow;
}
.txt{
    font-family: 'Roboto', sans-serif;
}
.sub {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.content {
    margin: 0 auto;
    max-width: 60em;
}
.appImg {
    height: 70vh;
}
.container-fluid {
    height: 50vh;
    margin-top: -10vh;
    padding: 10vh;
    -webkit-transform: skewY(5deg);
    -moz-transform: skewY(5deg);
    -ms-transform: skewY(5deg);
    -o-transform: skewY(5deg);
    transform: skewY(5deg);
    background-color: #4caf50;
  }
  
.container-fluid > .content {
    -webkit-transform: skewY(-5deg);
    -moz-transform: skewY(-5deg);
    -ms-transform: skewY(-5deg);
    -o-transform: skewY(-5deg);
    transform: skewY(-5deg);
}

main {
    margin-bottom: 2600px;
}
.profile {
    height: 15vw;
    width: auto;
    border-radius: 50%;
    margin-bottom: 2rem;
}

h5 {
    margin-top: 50px;
}

.link {
    color: black;
    text-decoration: none;
}

.release {
    color: white;

    padding-left: 3rem;

    text-decoration: none;
}